* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0B2434;
  font-size: 16px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  height: 400px;
  max-width: 420px;
  border-radius: 10px;
}

/* Helpers */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* Game Description */
.gameDescription {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 36px;
}

/* Dice */
.wrapper__dice {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
}

.dice {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Roll Dice Button */
.button__dice {
  font-family: "Karla", sans-serif;
  width: 100px;
  height: 40px;
  color: white;
  margin-top: 12px;
  background-color: rgba(80, 53, 255, 1);
  box-shadow: 0px 3.2px 7.7px 0px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button__dice:focus {
  outline: none;
}

.button__dice:active {
  box-shadow: inset 2px 2px 10px -7px rgba(0, 0, 0, 0.5);
}

.isFrozen {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background-color: #59E391;
}